@import './../common/colors';

.facet {
  text-align: center;
  border: 1px solid $sf-border-color;
  height: 100%;
  display: inline-block;
  white-space: normal;
  width: calc(100% / 6);
  box-sizing: border-box;
  vertical-align: top;
  background-color: $sf-light-background-color;
  overflow-y: auto;
  
  &--empty.facet {
    border: 1px dashed $sf-border-color;
  }
}