.facet-domain {
  -webkit-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -moz-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -ms-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -o-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  color: #333;
  background-color: #9acdd0;
  border-color: #9acdd0; }
  .facet-domain:focus, .facet-domain:hover {
    background-color: #77bcc0;
    border-color: #77bcc0; }

.facet-domain--active.facet-domain {
  -webkit-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -moz-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -ms-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -o-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  color: #fff;
  background-color: #369AB2;
  border-color: #369AB2; }
  .facet-domain--active.facet-domain:focus, .facet-domain--active.facet-domain:hover {
    background-color: #2a788b;
    border-color: #2a788b; }

.facet-domain {
  -webkit-border-radius: 0.375em;
  border-radius: 0.375em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: grab;
  vertical-align: top;
  margin: 0.5em 0.25em; }
  .facet-domain :first-child {
    margin-left: 0; }
  .facet-domain :last-child {
    margin-right: 0; }
  .facet-domain--active.facet-domain {
    font-weight: bold; }
  .facet-domain--empty {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: #ebebeb;
    background-color: #ebebeb;
    border: 1px dashed #cdcdcd; }
    .facet-domain--empty:hover, .facet-domain--empty:focus {
      color: #ebebeb;
      background-color: #ebebeb;
      border: 1px dashed #cdcdcd; }
