@import './../common/colors';
@import './../common/text';

.facets-toolbar {
  display: table;
  table-layout: fixed;
  margin: 1.5em 0 1em 0;
  width: 100%;
}

.facets-toolbar-search {
  display: table-cell;
  width: 25em;
  vertical-align: top;

  &__title {
    margin: 0;
    margin-bottom: 0.5em;
    letter-spacing: -1px;
    font-weight: normal;
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

.facets-toolbar-domains {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: $sf-light-background-color;
}

%base-sort-option {
  font-size: 0.75em;
  width: 50%;
  box-sizing: border-box;
  text-align: right;
  padding: 0.25em 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 0;

  > span {
    padding-right: 1em;
  }

  &:hover {
    background-color: $sf-dark-background-color;
    color: $sf-darkest-background-color;
  }  
}

.facets-toolbar-sort {
  display: table-cell;
  text-align: center;
  width: 10em;
  vertical-align: top;

  &--block {
    margin: 1em;
    border: 0;
    color: $sf-text-inverted-color;  
    background-color: $sf-darkest-background-color;    
  }
  
  &--disabled {
    .facets-toolbar-sort--block {
      @extend %sf-widget-disabled-colors;
    }

    .facets-toolbar-sort__alphabetical,
    .facets-toolbar-sort__receipts {
      cursor: default;
    }
  }

  &--active {
    background-color: $sf-dark-background-color;
    color: $sf-darkest-background-color;

    &:hover,
    &:focus {
      background-color: $sf-dark-background-color;
      color: $sf-darkest-background-color;
    }
  }

  &__title {
    margin: 0;
    padding: 0.5em 0;
    font-weight: $sf-font-weight-normal;
  }

  &__alphabetical {
    @extend %base-sort-option;
  }

  &__receipts {
    @extend %base-sort-option;
  }
}