.facet__domain {
  -webkit-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -moz-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -ms-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -o-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  color: #333;
  background-color: #9acdd0;
  border-color: #9acdd0; }

.facet__domain:focus, .facet__domain:hover {
  background-color: #77bcc0;
  border-color: #77bcc0; }

.facet {
  text-align: center;
  border: 1px solid #cdcdcd;
  height: 100%;
  display: inline-block;
  white-space: normal;
  width: calc(100% / 6);
  box-sizing: border-box; }

.facet--empty.facet {
  background-color: #f4f4f4;
  border: 1px dashed #cdcdcd; }

.facet__domain {
  -webkit-border-radius: 0.375em;
  border-radius: 0.375em;
  margin: 1em 3em; }
