.facet {
  text-align: center;
  border: 1px solid #cdcdcd;
  height: 100%;
  display: inline-block;
  white-space: normal;
  width: calc(100% / 6);
  box-sizing: border-box;
  vertical-align: top;
  background-color: #f4f4f4;
  overflow-y: auto; }
  .facet--empty.facet {
    border: 1px dashed #cdcdcd; }
