@import './../common/colors';

.facet {
  text-align: center;
  border: 1px solid $sf-border-color;
  height: 100%;
  display: inline-block;
  white-space: normal;
  width: calc(100% / 6);
  box-sizing: border-box;
  
  &--empty.facet {
    background-color: $sf-light-background-color;
    border: 1px dashed $sf-border-color;
  }

  &__domain {
    @include sf-border-radius();

    @extend %sf-widget-colors;
    
    margin: 1em 3em;
  }
}