@import "./../common/colors";
@import "./../common/text";

.facet-filter {
  padding: 0.5em;

  &__title {
    background-color: $sf-dark-background-color;
    color: $sf-text-color;
    text-align: left;
    padding: 0.5em;
    margin: 0;
  }

  &__search {
    width: 100%;
    box-sizing: border-box;
    margin: 0.2em 0;
    padding: 0.5em;
    font-style: italic;
    border: 0;
  }

  &__list {
    box-sizing: border-box;
    padding: 0.5em;
    background-color: white;
    height: 6em;
    overflow-y: auto;
    width: 100%;
    position: relative;
  }

  &__loading {
    font-size: 3em;
    opacity: 0.3;
    background-color: white;
    position: absolute;
    padding-top: 0.5em;
    height: 6em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__entries {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
  }

  &__entry {
    cursor: pointer;
    font-size: 0.75em;
    font-weight: $sf-font-weight-bold;

    &:hover, &:focus {
      .facet-filter__name {
        text-decoration: none;
      }
      background-color:lightgrey;
    }
  }

  &__name {
    // text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding:0.3em 0em;
  }

  &__count {
    text-align: right;
    width: 50px;
  }

  &__information {
    font-weight: $sf-font-weight-bold;
  }
}