@import '../common/colors';
@import '../common/text';

.results-bar {
  @include sf-border-radius(4px 4px 0 0);
  
  background-color: $sf-alternate-color;
  margin-top: 1em; 
  cursor: pointer;
  text-align: center;
  position: relative;

  &:focus,
  &:hover {
    background-color: $sf-alternate-hover-color;

    .results-bar__arrow {
      background-color: $sf-alternate-hover-color;
    }

    .chevron--up:after {
      border-bottom-color: $sf-alternate-hover-color;
    }

    .chevron--down:after {
      border-top-color: $sf-alternate-hover-color;
    }
  }

  &__title {
    margin: 0;
    padding: 0.75em;
    font-size: 1.25em;
    color: white;
    text-transform: uppercase;
    font-weight: $sf-font-weight-normal;
  }

  &__arrow {
    @include sf-border-radius(4px 4px 0 0);
    
    background-color: $sf-alternate-color;
    cursor: pointer;
    position: absolute;
    color: white;
    left: 50%;
    padding: 0.25em 1em;
    display: inline-block;
    top: -0.675em;
  }
}

.chevron {
  position:relative;
  display:block;
  height:15px;

  &:before, &:after {
    position:absolute;
    display:block;
    content:"";
    border:10px solid transparent;
  }
  
  &--up {
    top: -0.30em;
    left: -0.66em;
    
    &:before {
      bottom:0;
      border-bottom-color: white;
    }
    
    &:after {
      bottom:-3px;
      border-bottom-color: $sf-alternate-color;
    }
  }

  &--down {
    bottom: -0.30em;
    left: -0.66em;
    
    &:before {
      top:0;
      border-top-color: white;
    }
    
    &:after {
      top:-3px;
      border-top-color: $sf-alternate-color;
    }
  }
  
}
