$fa-font-path: './vendor/font-awesome/fonts';

@import './common/elements';
@import './vendor/font-awesome/scss/font-awesome.scss';

.app {
  height: 100%;
  box-sizing: border-box;
  padding: 1em 0;
  overflow: hidden;
}