@import './colors';

.button {
  @extend %sf-widget-colors;

  border-style: none;
  margin: 0 0.375em;
  padding: 0.5em 1em;
  cursor: pointer;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--disabled {
    @extend %sf-widget-disabled-colors;

    cursor: default;
  }
}